$font: $proggy
$background: $black
$color: $white

#context-menu-container
  position: absolute
  display: flex
  font-family: $font
  background-color: $background
  color: $color
  border: 1px solid $color
  z-index: 9
  flex-direction: column
  font-size: 1em
  border-radius: 1px

  & > *
    padding: 0.25rem 0.5rem

  header
    width: 100%

  * + *
    border-top: 1px solid $color

  .context-menu-item
    display: block
    background-color: $background
    cursor: pointer
    position: relative

    &:hover
      background-color: $white
      color: $black

    .context-menu-subitem
      display: none

      &.active
        display: block
        position: absolute
        top: -1px
        left: 100%
        color: $white
        background-color: $background
        cursor: pointer
        border: 1px solid $color
        padding: 0.25rem 0.5rem

        &:hover
          color: $black
          background-color: $white
