#nomobile
  +flexcenter

  background-color: $black
  color: $white
  height: 100vh
  width: 100vw
  position: absolute
  top: 0
  left: 0
  overflow: hidden
  pointer-events: none
  font-family: $proggy
