@use "sass:color"
@use "./utils/vars"
@use "signup"


signup.$font: vars.$proggy

#settings-menu
  color: var(--text-main)
  font-family: signup.$font
  position: absolute
  top: 100%
  left: -1px
  border: 1px solid var(--text-main)
  padding: 1rem
  font-size: 1rem
  background-color: color.adjust(vars.$black, $alpha: -0.15)
  backdrop-filter: saturate(180%) blur(1rem)

  *:not(input), &
    width: max-content

  input
    max-width: 20rem
    background-color: transparent
    border: 1px solid var(--text-main)
    padding: 0.25rem 0.5rem
    color: var(--text-main)
    font-family: signup.$font
    flex-grow: 1

    &::placeholder
      color: var(--text-main)
      opacity: 0.5
      font-family: signup.$font

  fieldset
    padding: 0.5rem 0.5rem
    width: 100%

    & + fieldset
      margin-top: 1rem

  .checkbox-settings
    label
      +vars.flexcenter

      display: block
      cursor: pointer

    .checkbox-settings-label
      margin-right: 0.5rem

    .checkbox-settings-checkbox
      +vars.flexcenter

      display: inline-flex
      height: 0.5rem
      width: 0.5rem
      background-color: vars.$white
      border-radius: 1px
      filter: invert(0)

      b
        height: 80%
        width: 80%
        display: inline
        background: vars.$white
        flex-grow: 0
        border-radius: 1px

      &.active
        b
          background-color: vars.$black

    input[type=checkbox]
      left: -9999px
      position: absolute

    input
      width: auto
      display: inline

  legend
    padding: 0.25rem 0.5rem
    border: 1px solid var(--text-main)

  .settings-box
    label *
      display: inline-block

    label
      display: block
      width: 100%

    label + label
      margin-top: 0.5rem
