@use "./utils/vars"
@use "sass:color"

#status-message
  position: absolute
  bottom: 10vh
  z-index: 10
  width: 100vw
  display: flex
  align-items: center
  flex-direction: column
  pointer-events: none

  & > div
    width: 40%
    max-width: 50%
    padding: 0.5rem 1.5rem
    border-radius: 1px
    transition: border-color 0.2s ease, opacity 0.3s ease
    // pointer-events: none
    user-select: none
    background-color: vars.$black
    border-left: 2px solid vars.$white
    font-size: 1rem
    transition: opacity 0.3s ease


    & + div
      margin-top: vars.$halfgap

    &.success, &.fail, &.warning, &.error
      opacity: 1
      transition: border-color 0.3s ease, opacity 0.3s ease 0.3s
      color: vars.$white

    &.success
      border-color: vars.$success
      background-color: color.adjust(vars.$success, $alpha: -0.9)

    &.fail, &.error
      border-color: vars.$fail
      background-color: color.adjust(vars.$fail, $alpha: -0.9)

    &.warning
      border-color: vars.$warning
      background-color: color.adjust(vars.$warning, $alpha: -0.9)

    &.fade
      opacity: 0

    div
      color: currentcolor
      font-family: vars.$pixel

      &::before
        content: "> "
