@use "./utils/vars"
@use "signup"
@use "sass:color"


signup.$font: vars.$proggy

#application-taskbar
  box-sizing: default
  width: 100%
  height: auto
  display: flex
  border-top: 1px solid vars.$white
  background-color: vars.$black
  z-index: 2

  #add-item
    border: 1px solid vars.$white
    border-left: none
    border-top: none
    padding: 0.25rem 0.5rem
    font-family: signup.$font

  #menu, #add-item
    border: 1px solid vars.$white
    border-top: none
    padding: 0.25rem 0.5rem
    font-family: signup.$font
    position: relative

    .application-menu, .add-menu
      display: none
      color: vars.$white

      .menu-container
        display: flex

        b
          height: 100%
          width: 1px
          background-color: vars.$white
          margin: 0 0.5rem

        .menu-container-sidebar
          span
            writing-mode: vertical-lr
            padding: 0.25rem

        .menu-container-items
          flex-grow: 1

    ul
      list-style-type: none

      li
        padding: 0.25rem 0.5rem
        border: 1px solid vars.$white
        background-color: vars.$black
        color: vars.$white
        position: relative

        &:hover
          background-color: vars.$white
          color: vars.$black

      li + li
        margin-top: 0.5rem

    &.menu-open
      background-color: vars.$white
      color: vars.$black

      .application-menu, .add-menu
        z-index: 2
        display: flex
        left: -1px
        width: max-content
        background-color: vars.$black
        position: absolute
        bottom: calc(100% + 1px)
        padding: 0.25rem 0.5rem
        border: 1px solid vars.$white
        border-bottom: none

  #taskbar-tabs
    +vars.no-scrollbar

    flex-grow: 1
    list-style-type: none
    display: flex
    overflow-x: auto

    li
      +vars.flexcenter

      width: auto
      font-family: signup.$font
      padding: 0.35rem 0.75rem
      border: 1px solid vars.$white
      border-top: none
      border-left: none
      min-width: max-content

  .taskbar-button
    +vars.flexcenter

    user-select: none
    cursor: pointer
    min-width: max-content

    &.minimized
      background-color: color.adjust(vars.$white, $alpha: -0.8)
      color: vars.$white


    &.active
      border-top: 1px solid vars.$pink
      background-color: vars.$white
      color: vars.$black

      &.minimized
        background-color: color.adjust(vars.$orange, $alpha: -0.5)
        color: vars.$white

    &:hover
      background-color: vars.$white
      color: vars.$black
