@use ./utils/vars.sass
@use "signup"


#top-bar
  width: 100%
  height: auto
  display: flex
  border-bottom: 1px solid vars.$white
  z-index: 2

  #settings-button, #topbar-clock
    border: 1px solid vars.$white
    border-bottom: none
    padding: 0.25rem 0.5rem
    font-family: signup.$font

  #settings-button
    position: relative

  b
    flex-grow: 1
