@font-face
  font-family: "pixel-font"
  src: url("./fonts/PxPlus_IBM_EGA9.ttf")

@font-face
  font-family: "liga-proggy-font"
  src: url("./fonts/LigaProggyCleanTTSZ.ttf")

@font-face
  font-family: "ms pgothic"
  src: local("MS PGothic"), url("./fonts/MSGothic.ttf")

@font-face
  font-family: "crimson"
  src: local("Crimson Text"), url("./fonts/CrimsonText-Regular.ttf")

@font-face
  font-family: "ibm plex"
  src: local("IBM Plex Serif"), url("./fonts/IBMPlexSerif-Regular.ttf")

@font-face
  font-family: "ibm plex light"
  src: local("IBM Plex Serif"), url("./fonts/IBMPlexSerif-ExtraLight.ttf")

@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Serif&display=swap")

@font-face
  font-family: "kaisho"
  src: url("./fonts/epson-kaisho.woff") format("woff"), local("Epson Kaisho")
