@use "sass:color"
$black: #111111
$white: #fefefe
$pink: #df0971
$blue: #4b4dfb
$darkblue: #1c1728
$green: #1cc8b9
$purple: #9058aa
$nondest: #68a9f5
$yellow: #ffd600
$red: #cf298c
$red-2: #ff5555
$dark: #1b1820
$editorblue: #282a36

$success: #53b9ad
// $fail: #d76864
$fail: #cf298c
$warning: #f4bb5b

// fonts

$pixel: "pixel-font", monospace
$proggy: "liga-proggy-font", monospace
$main: "IBM Plex Serif", serif

// $plex: "IBM Plex Mono", monospace
// $ibarra: "Ibarra Real Nova", serif

// measurements

$dsmaxwidth: 350px
$halfgap: 0.5rem

// mixins
=theme($theme: "dark")
  --text-highlight: #{$pink}

  @if $theme == "light"
    --bg-main: #{$white}
    --bg-main-halfop: #{color.adjust($white, $alpha: -0.5)}
    --text-main: #{$black}
    --hl-main: #{$black}
  @else if $theme == "dark"
    --bg-main: #{$black}
    --bg-main-halfop: #{color.adjust($black, $alpha: -0.5)}
    --text-main: #{$white}
    --hl-main: #{$white}

=input($display: block, $font: $proggy)
  transition: border-color 0.5s ease
  background-color: transparent
  border: 1px solid $white
  color: $white
  font-family: $font
  padding: 0.75rem 1.25rem
  font-size: 1rem
  border-radius: 1px

  &::placeholder
    font-family: $font

  &:focus
    outline: 1px solid $pink
    transition: outline 0.5s ease

=itemheader($select-off: true)
    border: 1px solid var(--text-main)
    margin-bottom: $halfgap

    @if $select-off
      user-select: none

    span:not(.dont-resize)
      display: block

    div.header-box-sub, span.header-box-sub
      color: var(--bg-main)
      background-color: var(--text-main)
      border: 1px solid var(--bg-main)
      padding: 0.25rem 0.5rem

=itemlist($border-color: false, $clickable: false, $padding: true)

  ul:not(.color-box-list):not(.structure-taglist)
    list-style-type: none

    li
      overflow: hidden
      white-space: nowrap
      text-overflow: ellipsis

      @if $padding
        padding: 0.25rem 0.25rem

      @if $clickable
        cursor: pointer

      @if $border-color
        border-left: 2px solid $border-color
        padding-left: 0.5rem
        background-color: color.adjust($border-color, $alpha: -0.85)

      & + li
        margin-top: 0.5rem

      &:hover
        background-color: color.adjust($white, $alpha: -0.5)

    & + span
      margin-top: 0.5rem

=flexcenter($left: false)
  display: flex
  align-items: center
  justify-content: center

  @if $left
    justify-content: flex-start

=spinning-squares($count: 4)
  .spinning-squares
    +flexcenter

    position: absolute
    height: 100%
    width: 100%
    z-index: 1

    div
      $size: 12rem

      position: absolute
      border: 1px dotted $white

      @for $i from 1 through $count
        &:nth-child(#{$i})
          height: calc(#{$i / 1.5} * #{$size})
          width: calc(#{$i / 1.5} * #{$size})
          animation: spinfade #{400 + $i * 2}s linear #{$i * 1.45}s infinite forwards, colortunnel 10s ease #{$i / 6}s infinite forwards

          @if $i % 2 == 0
            animation: spinfade #{400 + $i * 2}s linear #{$i * 1.45}s infinite reverse, colortunnel 10s ease #{$i / 6}s infinite forwards
