@import ../../utils/vars

// "colorcode-pink",
//  "colorcode-white",
// "colorcode-blue",
// "colorcode-red",
//  "colorcode-green",
// "colorcode-purple",
//  "colorcode-yellow"

$size: 2rem

.color-box
  +flexcenter

  margin: $halfGap 0 1rem 0

  li
    border-radius: 1px
    flex-grow: 1
    flex-shrink: 1
    flex-basis: auto
    transition: flex-grow 0.1s

    & + li
      margin-left: $halfGap

    &:hover
      transition: flex-grow 0.1s
      flex-grow: 2

  ul
    list-style-type: none
    display: flex
    flex-basis: auto
    width: 100%
    height: $size

    .colorcode-pink
      background-color: $pink

    .colorcode-white
      background-color: $white

    .colorcode-blue
      background-color: $blue

    .colorcode-red
      background-color: $red

    .colorcode-green
      background-color: $green

    .colorcode-purple
      background-color: $purple

    .colorcode-yellow
      background-color: $yellow
