@use ../../utils/vars

// "colorcode-pink",
//  "colorcode-white",
// "colorcode-blue",
// "colorcode-red",
//  "colorcode-green",
// "colorcode-purple",
//  "colorcode-yellow"

$size: 2rem

.color-box
  +vars.flexcenter

  margin: vars.$halfGap 0 1rem 0

  li
    border-radius: 1px
    flex-grow: 1
    flex-shrink: 1
    flex-basis: auto
    transition: flex-grow 0.1s

    & + li
      margin-left: vars.$halfGap

    &:hover
      transition: flex-grow 0.1s
      flex-grow: 2

  ul
    list-style-type: none
    display: flex
    flex-basis: auto
    width: 100%
    height: $size

    .colorcode-pink
      background-color: vars.$pink

    .colorcode-white
      background-color: vars.$white

    .colorcode-blue
      background-color: vars.$blue

    .colorcode-red
      background-color: vars.$red

    .colorcode-green
      background-color: vars.$green

    .colorcode-purple
      background-color: vars.$purple

    .colorcode-yellow
      background-color: vars.$yellow
