.structure-tag
  font-size: 1rem
  border-radius: 4pt
  width: 100%
  min-width: max-content
  display: inline-flex
  align-items: center
  user-select: none
  cursor: pointer
  overflow: hidden

  &.pink
    border: 1px solid $pink
    background-color: transparentize($pink, 0.5)

  &.white
    border: 1px solid $white
    color: $white
    background-color: transparentize($white, 0.7)

  &.blue
    border: 1px solid $blue
    background-color: transparentize($blue, 0.5)

  &.red
    border: 1px solid $red
    background-color: transparentize($red, 0.5)

  &.green
    border: 1px solid $green
    background-color: transparentize($green, 0.5)

  &.purple
    border: 1px solid $purple
    background-color: transparentize($purple, 0.5)

  &.yellow
    border: 1px solid $yellow
    background-color: transparentize($yellow, 0.5)

  span
    &:nth-child(1)
      padding: 0.15rem 0 0.15rem 0.5rem
      flex-grow: 1

    &:nth-child(2)
      margin-left: 0.15rem
      padding: 0.15rem 0.35rem 0.15rem 0.35rem

      &:hover
        background-color: $pink
        color: $white

    display: inline-block

  &:hover
    background-color: transparentize($white, 0.8)
