# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage
/test/filetypes
/test/savefiles
/docs/performance-profiles

# production
/build

# jsdoc docs
/out

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

notes.md

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# lockfiles
**/*.lock
*-lock.json

# compiled css
*.css
*.css.map

# local environment
.env.local

# templates
**.template.**

# unused assets
**cleaned**
/src/assets/raw**
/src/assets/audio/voice/*.wav
/src/assets/audio/voice/letters/*

# un-ignore currently used audio
!/src/assets/audio/voice/letters/v4
