@import ../utils/vars

$font: $proggy
$background: var(--bg-main)
$color: var(--text-main)
$consolebackground: $darkblue

.console-window
  display: flex
  font-family: $font
  border: 1px solid $color
  border-radius: 2px
  background-color: transparentize($consolebackground, 0.2)

  .console-header
    margin-bottom: 0

  $w: 40vw
  $h: 40vh

  min-width: $w

  // max-width: $w
  width: auto
  height: $h
  flex-direction: column

  .console-text
    margin-top: 1rem
    flex-grow: 1
    flex-basis: 30vh
    color: $color
    padding: 1rem
    display: flex
    flex-direction: column
    position: relative
    overflow-y: scroll
    scrollbar-width: none
    overflow: -moz-scrollbars-none
    -ms-overflow-style: none

    div
      text-overflow: ellipsis

    pre
      font-family: $font
      line-height: 1.4
      margin-left: 1rem

    &::-webkit-scrollbar
      display: none

  .console-response + div
    margin-top: 1rem

  .console-input
    +flexcenter(true)

    padding: 0 1rem
    margin-bottom: 0.5rem

  .console-tag
    color: $success

  .command-prefix
    color: $pink

  .console-type
    color: $fail

  .console-error
    color: $fail

  .console-command
    color: $success

  input
    +input

    padding-left: 0.5rem
    flex-grow: 1

    &, &:focus, &:active
      border: none
      outline: none
