@use "sass:color"
@use "subwindows/colorbox"
@use "subwindows/tag"
@use "subwindows/notes"
@use "../utils/vars"

.datastructure-window
  $w: 10vw
  $h: 40vh
  $font: vars.$proggy
  $gap: 0.5rem
  $hgap: 0.25rem
  $maxWidth: max-content
  $maxWidth2: vars.$dsmaxwidth

  will-change: contents

  .datastructure-header
    margin-bottom: 0

  a
    color: vars.$pink

  .image-error
    max-width: $maxWidth2
    display: block

  display: flex
  flex-direction: column

  // todo: refactor this somehow to use css vars
  background-color: color.adjust(vars.$darkerblue, $alpha: -0.05)

  .structure-header

    max-width: $maxWidth2

    p
      margin-bottom: vars.$halfgap
      font-weight: normal
      font-size: 1rem
      line-height: 1.42

  .structure-content
    height: 100%
    flex-grow: 1
    display: flex
    width: 100%

    .structure-left-column, .structure-right-column
      display: flex
      max-width: $maxWidth2

    .structure-left-column
      padding: $gap
      flex-direction: column
      min-width: calc(#{$maxWidth2} + 1rem)
      min-height: $h

    .structure-right-column
      border-left: 1px solid var(--text-main)

  .structure-type
    border-left: 2px solid vars.$pink
    padding: 0.15rem 0.25rem
    // border-radius: 4px
    background-color: color.adjust(vars.$white, $alpha: -0.85)
    color: var(--text-main)

  button, input
    line-height: 1rem

    &:active, &:focus
      outline: 1px solid vars.$pink

  button
    $opacity: 0.6

    +vars.flexcenter

    width: 100%
    background-color: transparent
    cursor: pointer
    font-family: $font
    color: var(--text-main)
    border: 1px solid var(--text-main)
    padding: 0.25rem 0.5rem

    span
      padding: 0.25rem 0.5rem
      display: block
      height: 100%
      width: 100%

    &.confirm-button, &.deny-button, &.delete-button
      padding: 0

    &.confirm-button
      background-color: color.adjust(vars.$success, $alpha: -$opacity)
      border: 1px solid vars.$success

      &:hover
        background-color: color.adjust(vars.$success, $alpha: -0.75)

    &.deny-button, &.delete-button
      background-color: color.adjust(vars.$red, $alpha: -$opacity)
      border: 1px solid vars.$red

      &:hover
        background-color: color.adjust(vars.$red, $alpha: -0.75)

  input
    background-color: transparent
    border: 1px solid var(--text-main)
    padding: 0.25rem 0.5rem
    color: var(--text-main)
    font-family: $font
    flex-grow: 1

    &::placeholder
      color: var(--text-main)
      opacity: 0.5
      font-family: $font

  .structure-data
    flex-grow: 1

    .datastructure-connection-list-container
      header
        @include vars.itemheader(true)

      @include vars.itemlist(vars.$white, true)

      ul
        max-height: 40vh
        scrollbar-width: none
        overflow: -moz-scrollbars-none
        overflow-y: auto

        &::-webkit-scrollbar
          display: none
          width: 0

      li.parent-record
          border-left: 2px solid vars.$pink
          background-color: color.adjust(vars.$pink, $alpha: -0.65)

          &:hover
            background-color: color.adjust(vars.$pink, $alpha: -0.8)

    div
      min-width: 100%

    header
      @include vars.itemheader(false)

      margin-bottom: vars.$halfgap
      max-width: $maxWidth2
      overflow-wrap: anywhere

    img:not(.image-viewer-image), p, h2
      max-width: 100%

    audio, video
      width: 100%
      max-width: $maxWidth2

    img
      width: 100%
      display: block
      margin-bottom: 1px

    video
      max-width: 400px

    .structure-data-meta-display
      padding: 0.5rem 0
      border-top: 1px solid var(--text-main)
      min-width: 20.875rem

      ul
        margin-bottom: vars.$halfgap

      div
        cursor: pointer
        margin-bottom: 0

    .structure-metadata
      @include vars.itemlist(vars.$white, false, true)

      max-width: $maxWidth2

  .structure-controls
    display: grid
    flex-direction: column
    grid-gap: vars.$halfgap
    margin-top: vars.$halfgap

    div
      display: grid
      grid-template-columns: 1fr 1fr
      grid-gap: vars.$halfgap

      input, button
        height: min-content

      .delete-button
        grid-column: span 2

      .button-non-mutation
        background-color: color.adjust(vars.$nondest, $alpha: -0.75)
        border: 1px solid vars.$nondest

        &:hover
          background-color: color.adjust(vars.$nondest, $alpha: -0.85)

  .connect-button
    background-color: color.adjust(vars.$nondest, $alpha: -0.75)
    border: 1px solid vars.$nondest

    &:hover
      background-color: color.adjust(vars.$nondest, $alpha: -0.85)

  .structure-taglist
    list-style-type: none
    width: 100%
    line-height: 1rem
    margin-bottom: 0.15rem
    // display: grid
    // grid-gap: $gap
    // grid-row-gap: $gap
    // grid-template-columns: repeat(3, minmax(min-content, auto))
    // grid-auto-flow: row

    &:empty
      margin: 0

  .structure-taglist-long
    list-style-type: none
    width: 100%
    line-height: 1rem
    margin: 1rem 0
    display: grid
    grid-gap: $gap
    grid-row-gap: $gap
    grid-template-columns: repeat(1000000, auto)
    grid-auto-flow: row
    overflow-x: scroll

    // scrollbar-width: none
    position: relative

    &::after, &::before
      color: transparent

    &::after
      // unicode non-breaking space content
      content: "."
      font-size: 1rem
      width: 2rem
      z-index: 2
      position: fixed
      right: calc(1.3125rem + 1px)
      pointer-events: none
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1))
      padding: calc(0.15rem + 1px) 0.35rem calc(0.15rem + 1px) 0.35rem

    &::before
      // unicode non-breaking space content
      content: "."
      font-size: 1rem
      width: 2rem
      z-index: 2
      position: fixed
      left: 0
      pointer-events: none
      background-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1))
      padding: calc(0.15rem + 1px) 0.35rem calc(0.15rem + 1px) 0.35rem

    &::-webkit-scrollbar
      display: none

    &:empty
      margin: 0
