@import subwindows/colorbox
@import subwindows/tag
@import subwindows/notes

.datastructure-window
  $w: 10vw
  $h: 40vh
  $font: $proggy
  $gap: 0.5rem
  $hgap: 0.25rem
  $maxWidth: max-content
  $maxWidth2: $dsMaxWidth

  will-change: contents

  .datastructure-header
    margin-bottom: 0

  a
    color: $pink

  .image-error
    max-width: $maxWidth2
    display: block

  display: flex
  flex-direction: column

  // todo: refactor this somehow to use css vars
  background-color: transparentize($black, 0.25)

  .structure-header
    max-width: $maxWidth2

    p
      font-weight: normal
      font-size: 1rem
      line-height: 1.42

  .structure-content
    height: 100%
    flex-grow: 1
    display: flex
    width: 100%

    .structure-left-column, .structure-right-column
      display: flex
      max-width: $maxWidth2

    .structure-left-column
      +itemlist

      padding: $gap
      flex-direction: column
      min-width: calc(#{$maxWidth2} + 1rem)
      min-height: $h

    .structure-right-column
      border-left: 1px solid var(--text-main)

  .structure-type
    font-style: italic
    border: 1px solid $pink
    padding: 0.15rem 0.25rem
    border-radius: 4px
    user-select: none

  button, input
    line-height: 1rem

    &:active, &:focus
      outline: 1px solid $pink

  button
    $opacity: 0.3

    +flexcenter

    width: 100%
    background-color: transparent
    cursor: pointer
    font-family: $font
    color: var(--text-main)
    border: 1px solid var(--text-main)
    padding: 0.25rem 0.5rem

    span
      border: 1px solid var(--bg-main)
      padding: 0.25rem 0.5rem
      display: block
      height: 100%
      width: 100%

    &.confirm-button, &.deny-button, &.delete-button
      padding: 0

    &.confirm-button span
      background-color: $success
      color: $dark

      &:hover
        background-color: transparentize($success, $opacity)

    &.deny-button span, &.delete-button span
      background-color: $red

      &:hover
        background-color: transparentize($red, $opacity)

  button + button
    margin-left: $gap

  input
    background-color: transparent
    border: 1px solid var(--text-main)
    padding: 0.25rem 0.5rem
    color: var(--text-main)
    font-family: $font
    flex-grow: 1

    &::placeholder
      color: var(--text-main)
      opacity: 0.5
      font-family: $font

  .structure-data
    flex-grow: 1
    margin-bottom: 1rem

    // min-width: 21.875rem

    div
      min-width: 100%

    header
      margin-bottom: 1rem
      max-width: $maxWidth2
      overflow-wrap: anywhere

    img:not(.image-viewer-image), p, h2
      max-width: 100%

    audio, video
      width: 100%
      max-width: $maxWidth2

    img
      width: 100%

    video
      max-width: 400px

    .structure-data-meta-display
      margin-top: 0.5rem
      padding: 0.5rem 0
      border-top: 1px solid var(--text-main)
      border-bottom: 1px solid var(--text-main)
      min-width: 20.875rem

      img
        margin-bottom: 0.25rem

      span
        cursor: pointer
        display: block
        padding: 0.25rem 0.5rem
        background-color: var(--text-main)
        color: var(--bg-main)

    .structure-metadata
      margin-top: 1rem
      max-width: $maxWidth2

      ul
        list-style-type: none

        li
          overflow: hidden
          white-space: nowrap
          text-overflow: ellipsis

        & + span
          margin-top: 0.5rem

  .structure-controls
    display: flex
    flex-direction: column

    div
      display: flex

    input + button
      margin-left: $gap

    div + div
      margin-top: $gap

  .structure-taglist
    list-style-type: none
    width: 100%
    line-height: 1rem
    margin: 1rem 0
    display: grid
    grid-gap: $gap
    grid-row-gap: $gap
    grid-template-columns: repeat(3, minmax(min-content, auto))
    grid-auto-flow: row

    &:empty
      margin: 0

  .structure-taglist-long
    list-style-type: none
    width: 100%
    line-height: 1rem
    margin: 1rem 0
    display: grid
    grid-gap: $gap
    grid-row-gap: $gap
    grid-template-columns: repeat(1000000, auto)
    grid-auto-flow: row
    overflow-x: scroll

    // scrollbar-width: none
    position: relative

    &::after, &::before
      color: transparent

    &::after
      // unicode non-breaking space content
      content: "."
      font-size: 1rem
      width: 2rem
      z-index: 2
      position: fixed
      right: calc(1.3125rem + 1px)
      pointer-events: none
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1))
      padding: calc(0.15rem + 1px) 0.35rem calc(0.15rem + 1px) 0.35rem

    &::before
      // unicode non-breaking space content
      content: "."
      font-size: 1rem
      width: 2rem
      z-index: 2
      position: fixed
      left: 0
      pointer-events: none
      background-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1))
      padding: calc(0.15rem + 1px) 0.35rem calc(0.15rem + 1px) 0.35rem

    &::-webkit-scrollbar
      display: none

    &:empty
      margin: 0
