@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Serif&display=swap");
@font-face {
  font-family: "pixel-font";
  src: url("./fonts/PxPlus_IBM_EGA9.ttf");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 16px;
  width: 100vw;
}

@keyframes pulse {
  from {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  to {
    opacity: 0;
  }
}

@keyframes flickerout {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  55% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  65% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes loadingspin {
  from {
    transform: rotateZ(0deg);
  }
  15% {
    transform: rotateZ(-45deg);
  }
  75% {
    transform: rotateZ(360deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}

@keyframes spin {
  to {
    transform: rotateZ(360deg);
  }
}

@keyframes spinfade {
  from {
    opacity: 1;
    transform: rotateZ(0);
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: rotateZ(360deg);
  }
}

@keyframes pulse {
  from {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  to {
    opacity: 0;
  }
}

@keyframes flickerout {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  55% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  65% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes loadingspin {
  from {
    transform: rotateZ(0deg);
  }
  15% {
    transform: rotateZ(-45deg);
  }
  75% {
    transform: rotateZ(360deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}

@keyframes spin {
  to {
    transform: rotateZ(360deg);
  }
}

@keyframes spinfade {
  from {
    opacity: 1;
    transform: rotateZ(0);
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: rotateZ(360deg);
  }
}

#preloader-container {
  height: 100vh;
  width: 100vw;
  isolation: isolate;
  transition: opacity 0.3s ease-out 7s;
}

#preloader-container.active {
  opacity: 0;
}

#preloader-container * {
  overflow: hidden;
}

#preloader-container section {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
}

#preloader-container .preloader-background {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 0;
}

#preloader-container .preloader-background div {
  width: 100%;
  flex-grow: 1;
}

#preloader-container .preloader-middleground {
  display: grid;
  z-index: 1;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

#preloader-container .preloader-middleground.active div {
  transition: color 0.3s ease;
  background-color: #fefefe;
  color: #111111;
  opacity: 1;
}

#preloader-container .preloader-middleground.active div:nth-child(1) {
  transition: background-color 0.3s ease 0.05s;
  animation: flickerout 0.3s ease 2.35s forwards;
}

#preloader-container .preloader-middleground.active div:nth-child(2) {
  transition: background-color 0.3s ease 0.1s;
  animation: flickerout 0.3s ease 2.28s forwards;
}

#preloader-container .preloader-middleground.active div:nth-child(3) {
  transition: background-color 0.3s ease 0.15s;
  animation: flickerout 0.3s ease 2.42s forwards;
}

#preloader-container .preloader-middleground.active div:nth-child(4) {
  transition: background-color 0.3s ease 0.2s;
  animation: flickerout 0.3s ease 3.4s forwards;
}

#preloader-container .preloader-middleground.active div:nth-child(5) {
  transition: background-color 0.3s ease 0.25s;
  animation: flickerout 0.3s ease 3.05s forwards;
  animation: flickerout 0.25s ease 6s forwards;
}

#preloader-container .preloader-middleground.active div:nth-child(6) {
  transition: background-color 0.3s ease 0.3s;
  animation: flickerout 0.3s ease 3.68s forwards;
}

#preloader-container .preloader-middleground.active div:nth-child(7) {
  transition: background-color 0.3s ease 0.35s;
  animation: flickerout 0.3s ease 4.45s forwards;
}

#preloader-container .preloader-middleground.active div:nth-child(8) {
  transition: background-color 0.3s ease 0.4s;
  animation: flickerout 0.3s ease 4.24s forwards;
}

#preloader-container .preloader-middleground.active div:nth-child(9) {
  transition: background-color 0.3s ease 0.45s;
  animation: flickerout 0.3s ease 5.15s forwards;
}

#preloader-container .preloader-middleground div {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "pixel-font", monospace;
  opacity: 1;
  background-color: #111111;
  transition: background-color 0.3s ease;
}

#preloader-container .preloader-middleground div {
  border-right: 1px solid #111111;
  border-bottom: 1px solid #111111;
  transition: border-color 0.3s ease-out;
}

#preloader-container .preloader-middleground div.preloader-row-top:nth-child(3) {
  border-right: none;
}

#preloader-container .preloader-middleground div.preloader-row-middle:nth-child(6) {
  border-right: none;
}

#preloader-container .preloader-middleground div.preloader-row-bottom {
  border-bottom: none;
}

#preloader-container .preloader-middleground div.preloader-row-bottom:nth-child(9) {
  border-right: none;
}

#preloader-container .preloader-foreground {
  padding: 3rem;
  color: #fefefe;
  font-family: "pixel-font", monospace;
  font-size: 3rem;
  transition: color 0.3s ease;
  z-index: 2;
}

#preloader-container .preloader-foreground div > div {
  display: inline-block;
}

#preloader-container .preloader-foreground div + div {
  margin-left: 1rem;
  padding: 0.5rem;
}

#preloader-container .preloader-foreground .loading-indicator-container {
  display: inline-block;
  padding: 1rem;
  display: flex;
  align-items: center;
}

#preloader-container .preloader-foreground .loading-spinner {
  height: 1rem;
  width: 1rem;
  border: 2px solid #df0971;
  animation: pulse 0.25s ease infinite alternate;
}

#preloader-container .preloader-foreground.active {
  color: #111111;
  transition: color 0.3s ease;
}

@keyframes pulse {
  from {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  to {
    opacity: 0;
  }
}

@keyframes flickerout {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  55% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  65% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes loadingspin {
  from {
    transform: rotateZ(0deg);
  }
  15% {
    transform: rotateZ(-45deg);
  }
  75% {
    transform: rotateZ(360deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}

@keyframes spin {
  to {
    transform: rotateZ(360deg);
  }
}

@keyframes spinfade {
  from {
    opacity: 1;
    transform: rotateZ(0);
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: rotateZ(360deg);
  }
}

#login-signup {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  position: absolute;
  animation: fadein 0.5s ease-out forwards;
  isolation: isolate;
  overflow: hidden;
}

#login-signup.fadeout {
  animation: fadeout 0.5s ease-out forwards;
}

#login-signup .spinning-squares {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
}

#login-signup .spinning-squares div {
  position: absolute;
  border: 1px dashed #fefefe;
}

#login-signup .spinning-squares div:nth-child(1) {
  height: calc(1 * 12rem);
  width: calc(1 * 12rem);
  animation: spinfade 100s linear infinite forwards;
}

#login-signup .spinning-squares div:nth-child(2) {
  height: calc(2 * 12rem);
  width: calc(2 * 12rem);
  animation: spinfade 100s linear infinite forwards;
  animation: spinfade 100s linear infinite reverse;
}

#login-signup .spinning-squares div:nth-child(3) {
  height: calc(3 * 12rem);
  width: calc(3 * 12rem);
  animation: spinfade 100s linear infinite forwards;
}

#login-signup .spinning-squares div:nth-child(4) {
  height: calc(4 * 12rem);
  width: calc(4 * 12rem);
  animation: spinfade 100s linear infinite forwards;
  animation: spinfade 100s linear infinite reverse;
}

#login-signup #form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  flex-direction: column;
  background-color: rgba(17, 17, 17, 0.85);
  width: 100%;
  height: 100%;
}

#login-signup #form-container .login-link {
  margin-top: 1rem;
}

#login-signup #form-container .login-link a {
  color: #fefefe;
  font-family: "pixel-font", monospace;
}

#login-signup #form-container .login-link a:active {
  color: #df0971;
}

#login-signup #form-container form input, #login-signup #form-container form button {
  padding: 0.75rem 1.25rem;
  font-size: 1.25rem;
}

#login-signup #form-container form input:focus, #login-signup #form-container form button:focus {
  outline: 1px solid #df0971;
  transition: outline 0.5s ease;
}

#login-signup #form-container form input::placeholder, #login-signup #form-container form input, #login-signup #form-container form button {
  font-family: "pixel-font", monospace;
}

#login-signup #form-container form input {
  transition: border-color 0.5s ease;
  background-color: transparent;
  border: 1px solid #fefefe;
  color: #fefefe;
}

#login-signup #form-container form button {
  width: 100%;
  border: none;
  cursor: pointer;
  position: relative;
  isolation: isolate;
}

#login-signup #form-container form button span {
  z-index: 1;
  display: block;
  position: relative;
  color: #111111;
}

#login-signup #form-container form button b {
  z-index: 0;
  top: 0;
  right: 0;
  height: 0;
  transition: height 0.5s ease;
  background-color: #53b97f;
  display: block;
  position: absolute;
  width: 100%;
}

#login-signup #form-container form button.valid b {
  height: 100%;
  transition: height 0.5s ease 0.5s;
}

#login-signup #form-container form b {
  display: block;
  height: 1rem;
  background-color: #fefefe;
  margin-left: 1rem;
  width: 0.5rem;
  position: relative;
}

#login-signup #form-container form b b {
  position: absolute;
  top: 0;
  right: 0;
  height: 0;
  transition: height 0.5s ease;
  background-color: #53b97f;
}

#login-signup #form-container form b b:last-of-type {
  transition-delay: 0.5s;
}

#login-signup #form-container form div.valid input:focus {
  transition: outline 0.5s ease;
  outline: 1px solid #53b97f;
}

#login-signup #form-container form div.valid > input {
  transition: border-color 0.5s ease;
  border: 1px solid #53b97f;
}

#login-signup #form-container form div.valid + b > b {
  height: 100%;
  transition: height 0.5s ease;
}

@keyframes pulse {
  from {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  to {
    opacity: 0;
  }
}

@keyframes flickerout {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  55% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  65% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes loadingspin {
  from {
    transform: rotateZ(0deg);
  }
  15% {
    transform: rotateZ(-45deg);
  }
  75% {
    transform: rotateZ(360deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}

@keyframes spin {
  to {
    transform: rotateZ(360deg);
  }
}

@keyframes spinfade {
  from {
    opacity: 1;
    transform: rotateZ(0);
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: rotateZ(360deg);
  }
}

#status-message {
  position: absolute;
  z-index: 10;
  width: 100vw;
  opacity: 0;
  transition: background-color 0.3s ease, opacity 0.3s ease;
  pointer-events: none;
  user-select: none;
}

#status-message.success, #status-message.fail, #status-message.warning {
  opacity: 1;
  transition: background-color 0.3s ease, opacity 0.3s ease 0.3s;
}

#status-message.success {
  color: #fefefe;
  background-color: #53b97f;
}

#status-message.fail {
  color: #fefefe;
  background-color: #d76864;
}

#status-message.warning {
  color: #111111;
  background-color: #f4bb5b;
}

#status-message div {
  color: currentcolor;
  font-family: "pixel-font", monospace;
  padding: 1.5rem;
}

:root {
  --text-highlight: #df0971;
  --bg-main: #111111;
  --bg-main-halfop: rgba(17, 17, 17, 0.5);
  --text-main: #fefefe;
}

:root.light {
  --text-highlight: #df0971;
  --bg-main: #fefefe;
  --bg-main-halfop: rgba(254, 254, 254, 0.5);
  --text-main: #111111;
}

body {
  background-color: var(--bg-main);
  color: var(--text-main);
  isolation: isolate;
}
