// compile main

// utils
@import ./components/utils/fontImports
@import ./components/utils/defaults
@import ./components/utils/vars
@import ./components/utils/anims
@import ./components/utils/colorcodes
@import ./components/utils/filters
@import ./components/utils/fx

// components
@import ./components/preloader
@import ./components/signup
@import ./components/statusmessage
@import ./components/home
@import ./components/contextmenu
@import ./components/taskbar
@import ./components/topbar
@import ./components/filedrop
@import ./components/nomobile
@import ./components/settings

// windows
@import ./components/windows/window
@import ./components/windows/recordviewer
@import ./components/windows/console
@import ./components/windows/datastructure
@import ./components/windows/imageviewer
@import ./components/windows/connectionoptions

\:root
  +theme("dark")

\:root.light
  +theme("light")

\::selection
  background-color: $pink

body
  main
    width: 100vw
    height: 100vh
    position: relative
    isolation: isolate
    overflow: hidden

    button, input
      line-height: 1rem

      &:active, &:focus
        outline: 1px solid $pink

  background-color: var(--bg-main)
  color: var(--text-main)
  isolation: isolate
